{{ 'footer.css' | asset_url | stylesheet_tag: preload: true }}


<div class="main__footer_wrapper">

  <div class="footer1"> 
      <p>Shopify themes are a package of template files, building blocks, and supporting assets. Use these building blocks to create modular, customizable themes.</p>
</div>


  <div class="footer2"> 
      <h3> Quick link</h3>
      <p class="link_item">Home</p> 
      <p class="link_item">About</p> 
      <p class="link_item">Contact</p> 
      <p class="link_item">Search</p> 
  </div>

  <div class="footer2"> 
      <h3> Quick link</h3>
      <p class="link_item">Home</p> 
      <p class="link_item">About</p> 
      <p class="link_item">Contact</p> 
      <p class="link_item">Search</p> 
  </div>

  <div class="footer2"> 
    <h3> Quick link</h3>
    <p class="link_item">Home</p> 
    <p class="link_item">About</p> 
    <p class="link_item">Contact</p> 
    <p class="link_item">Search</p> 
  </div>

</div>

<div ><p class="copy_right"> © openmizer Ltd. 2026</p></div>















{% schema %}
  {
    "name": "footer",
    "class": "footer",
    "settings": [
    
    ]
  }
{% endschema %}
